div.field--type-iframe iframe {
  margin: 0 auto;
  color: black;
  background-color: white;
}

div.field--type-iframe .iframe-responsive {
  position: relative;
}
div.field--type-iframe .iframe-responsive::before {
  content: "";
  display: block;
}
div.field--type-iframe .iframe-responsive > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 480px) {
  div.field--type-iframe iframe {
    width: 100%;
    height: auto;
  }
}
